.dashboard{

width:90%;

margin:40px auto;
}

.dashboard-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:40px;
}

.dashboard-header h1{

font-size:40px;
}

.create-btn{

padding:14px 24px;

border:none;

background:#7c3aed;

color:white;

border-radius:10px;

cursor:pointer;

font-size:16px;
}

.interview-grid{

display:grid;

grid-template-columns:repeat(auto-fill,minmax(320px,1fr));

gap:25px;
}

.card{

background:white;

padding:25px;

border-radius:18px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.3s;
}

.card:hover{

transform:translateY(-8px);
}

.card h2{

margin-bottom:20px;
}

.card p{

margin-bottom:10px;
}

.card-buttons{

display:flex;

justify-content:space-between;

margin-top:20px;
}

.start{

background:#7c3aed;

color:white;

border:none;

padding:10px 20px;

border-radius:8px;

cursor:pointer;
}

.result{
 background:#30b316;

color:white;

border:none;

padding:10px 20px;

border-radius:8px;

cursor:pointer;

}


.delete{

background:#ef4444;

color:white;

border:none;

padding:10px 20px;

border-radius:8px;

cursor:pointer;
}
.plogin{
    text-align: center;
}